$lg: 961px;
$md: 760px;
$sm: 1px;
$color-front: #333;
$color-title: #505050;
$color-icon: #656565;
$color-sub: #004ea1;

@mixin lg {
  @media only screen and (min-width: ($lg)) {
    @content;
  }
}
@mixin md {
  @media only screen and (min-width: ($md)) {
    @content;
  }
}
@mixin sm {
  @media only screen and (min-width: ($sm)) {
    @content;
  }
}
@mixin mini {
  @media only screen and (max-width: (339px)) {
    @content;
  }
}
